<nav class = 'navbar'>
    <a href="/home_page" id="home_button">B<span id="dot">.</span></a>
    <ul>
        <li><a href="/authors">AUTHOR HOME</a></li>
        <li><a href="/readers">READER HOME</a></li>
    </ul>
    <form action="/users/logout">
    <button type="submit" class="logout_button">LOGOUT</button>
    </form>
</nav>
