<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Home Page</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oqh1yqs.css">
</head>
<body class="home_page">
    <%- include('_navbar') %>
    <div class="first_content">
        <h1>Blogging Tool</h1>
        <div class='main_content'>
                <h2>Log In</h2>
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" class="input_box" id="username" name="username" required><br></br>
                    <label for="password">Password</label>
                    <input type="password" class="input_box" id="password" name="password" required><br></br>
                    <button type="submit" id="button">Log In</button>
                </form>
        </div>
    </div>
</body>
</html>
