<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Home Page</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oqh1yqs.css">
</head>
<body class="home_page">
    <nav class = 'navbar'>
        <a href="/home_page" id="home_button">B<span id="dot">.</span></a>
        <form action="/users/logout">
        <button type="submit" class="logout_button">LOGOUT</button>
        </form>
    </nav>
    <h1>Welcome!</h1>
    <div class="main_content">
        <div class="links">
            <form action="/authors" method="get">
                <button type="submit" id="button" class="button">AUTHOR HOME</button>
            </form>
            <form action="/readers" method="get">
                <button type="submit" id="button" class="button">READER HOME</button>
            </form>
        </div>
    </div>
</body>
</html>